@import "tailwindcss";

.gradient-1 {
            background-image: linear-gradient(90deg,#ffce3b, #c8411f, #ff9800, #f04040);
            background-size: 200% 100%;
            background-position: 100% 0;
        }

.main-text{
    opacity: 0;
}